<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div style="text-align:left">
      <h1 class="well col-md-12" style="text-align:center;" >Egg Sauce</h1>
        <div class="well col-md-6" style="text-align:center;">
            <img src="http://www.averagebetty.com/images_2010/eggs_benedict_580.jpg" style="width:500px;height:300px;">
        </div>
        <div class="well col-md-6" style="text-align:center">
            <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo6WB91i_wEk5HSMV5oerNb7xByGiQWVZWvWru0Ujfz4MrUmR3hw">NIGERIA</a>
        </div>
        <div class="col-md-4">
            <h2>Ingredients</h2>
            <ul>
                <li>Ingredients</li>
                <li>   2 large tomatoes</li>
                <li>   1 large onion</li>
                <li>   1 scotch bonnet pepper</li>
                <li>   2 tablespoons of cooking oil (any type)</li>
                <li>   4 or 5 eggs (depending on number of people eating)</li>
                 <li>   Seasonings (suya pepper, garlic powder, thyme, etc)</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Directions</h3>
                <p>Dice onions, tomatoes and 1 scotch bonnet pepper (depending on how hot you want it to be) or can be replaced with black pepper.
                    Add the diced onions, tomatoes and pepper into a pot, and cook until some of the juices are dried up.
                    Then add a table spoon or 2 (enough to cook the eggs) to the mixture
                    Fry for a little bit, then add seasonings ( suya pepper gotten from Tesco, any other type of seasoning pepper can be used, garlic powder, Nigerian knorr seasoning cubes stock cubes can be used instead but not diluted with water, thyme, pinch of salt and any other seasoning you like)
                    Then add the eggs and cook until well done.</p>
            </div>
        </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>