<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >HOME</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><strong>MyRecipeBook</strong></li>
                <li><a href="Wings.html">Wings</a></li>
                <li><a href="CrabCake.html">Crabcake</a></li>
                <li><a href="EggSauce.html">EggSauce</a></li>
                <li><a href="Gulabjamun.html">GulabJamun</a></li>
                <li><a href="Injeria.html">Injeria</a></li>
                <li><a href="Makhrounds.html">Makhrounds</a></li>
            </ul>
            </div>
        </div>
    </nav>

        <div class="container">
            <div class="col-md-12" style="text-align:center"><strong>MENU</strong></div>

        </div>
    <div class="row">
    <div class="col-md-12">
     <br/><br/>
        <h3 class="col-md-4"></h3>
        <h3 class="col-md-4">Description</h3>
        <h3 class="col-md-4">Price</h3>
    </div>
    </div>


    <div class="well col-md-12">

 <a  class="col-md-4" href="Wings.html"><img class="img" src="http://www.seriouseats.com/images/2015/01/20150125-xian-spicy-cumin-chili-sichuan-chicken-wings-recipe-8.jpg"
                                                        alt="Wings"> <!-- width="100" height="150"> --></a>
  <p class="col-md-6">Wings</p>
  <p class="col-md-2"> $5.99</p>


     </div>

<div class="well col-md-12">
    <a  class="col-md-4" href="EggSauce.html"><img class="img" src="http://www.averagebetty.com/images_2010/eggs_benedict_580.jpg"
                                                   ></a>
    <p class="col-md-6">EggSauce</p>
    <p class="col-md-2">$3.49</p>
</div>
<div class="well col-md-12">
    <a class="col-md-4" href="crab cake.html"><img class="img" src="http://www.phillipsseafood.com/uploads/image/classics/crabcake.jpg">
                                                   </a>
    <p class="col-md-6">Crab Cake</p>
    <p class="col-md-2">$9.25</p>
</div>
<div class="well col-md-12">
  <a class="col-md-4" href="Makhrounds.html"><img class="img"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm84zw4745aMKmcJ63R4JOTs2hMzMSYRi2DtrwK4bRShkmDQY6">
      </a>
    <p class="col-md-6">Makhrouds</p>
    <p class="col-md-2">$10.56</p>
</div>
<div class="well col-md-12" >
  <a class="col-md-4"href="Gulabjamun.html"><img class="img"
   src="http://www.rachnas-kitchen.com/wp-content/uploads/2014/11/P10901101.jpg"></a>
  <p class="col-md-6">GulabJamun</p>
  <p class="col-md-2">$18.59</p>
</div>
<div class="well col-md-12">
 <a class="col-md-4" href="Injeria.html"><img class="img"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_fYt8kZ7IGoTXF7VhnGHCIITMQjV2QhfRSf0JY-rgko7B9i1vpA">
                                              </a>
    <p class="col-md-6">Injera</p>
    <p class="col-md-2">$3.99</p>
</div>
</div>
</nav>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>