.img{
    height:150px;
    width:350px;
}
.navbar-inverse
{
   background-color: green;
}
body{
    background:url(https://images.pexels.com/photos/33067/sunset-sunrise-sun-summer.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
}